html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* override Bulma's rule */
.section {
    padding: 1.5rem;
}

.container {
    width: 75%;
    margin: auto;
    margin-top: 1.2rem;
}

.tile.compact {
    padding: .4rem;
    line-height: .4;
}