<h5 class="title is-5">Recherche par filtre</h5>
<p class="has-text-info">
    {% if  searched %}
        Nombre total avec ce filtre :
    {% else %}
        Nombre total :
    {% endif %}
    {{ data.total }}
</p>

<form action="{{ url_for(current_route) }}" method="get">
    <div class="field has-addons">
        <div class="control">
            <input type="text" class="input" name="search" placeholder="Filter entries" value="{{ searched }}">
        </div>
        <div class="control">
            <input type="submit" class="button is-info" value="search"/>
        </div>
    </div>

</form>
