{% extends '_base.html' %}

{% block content %}
    {% include '_title.html' %}

    <section class="section">
    <div class="container">
            <div class="columns">
            <div class="column">
                <form action="{{ url_for('get_diseases') }}" method="get">
                    <div class="field has-addons">
                        <div class="control">
                            <input type="text" class="input" name="search" placeholder="Filter diseases" value="{{ searched }}">
                        </div>
                        <div class="control">
                            <input type="submit" class="button is-info" value="search" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="column">
                <div class="tags has-addons">
                    <span class="tag is-medium">Refresh the list of diseases from source</span>
                    <!-- <span class="tag is-info">Update</span> -->
                    <a href="{{ url_for('refresh_diseases') }}" class="tag is-info is-medium">Update</a>
                </div>
            </div>
        </section>

    <section class="section">
        <div class="container">
            {% if data.items | count > 0 %}
                {% for disease in data.items %}
                    <ul class="tile is-ancestor">
                        <li class="tile is-parent compact"><a href="{{ disease.link }}" class="tile is-child box">{{ disease.name }}</a></li>
                    </ul>
                {% endfor %}
                {% include '_pagination.html' %}
            {% else %}
                <p>No diseases registered yet.</p>
            {% endif %}
        </div>
        </section>

{% endblock %}