{% extends '_base.html' %}

{% block content %}
    {% include '_title.html' %}

    <section class="section">
        <div class="container">

            <form method="post" action="{{ url_for('edit_patient', id=data.patient.id) }}" enctype="multipart/form-data">

                <div class="field">
                    <label class="label">Nurse</label>
                    <div class="control">
                        <div class="select" name="disease">
                            <select name="nurse">

                                {% if data.patient.id_assigned_user == None %}
                                    <option value="0" selected>No assigned nurse</option>
                                {% endif %}

                                {% for user in data.users %}

                                    {% if data.patient.id_assigned_user == user.id %}
                                        <option value="{{ user.id }}" selected>{{ user.full_name }}</option>
                                    {% elif data.patient.id_assigned_user != user.id %}
                                        <option value="{{ user.id }}">{{ user.full_name }}</option>
                                    {% endif %}


                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label class="label">First Name</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="First name" name="first_name"
                               value="{{ data.patient.first_name }}" readonly>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Last Name</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Last name" name="last_name"
                               value="{{ data.patient.last_name }}" readonly>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Address</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Address" name="address"
                               value="{{ data.patient.address }}" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                        <input class="input" type="email" placeholder="Email" name="email"
                               value="{{ data.patient.email }}" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Phone</label>
                    <div class="control">
                        <input class="input" type="tel" placeholder="Phone" name="phone"
                               value="{{ data.patient.phone }}" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Job</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Job" name="job" value="{{ data.patient.job }}"
                               required>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Social number</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Social number" name="social_number"
                               value="{{ data.patient.social_number }}" readonly>
                    </div>
                </div>

                <div class="field is-grouped is-grouped-right">
                    <div class="control">
                        <button class="button is-text">Cancel</button>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link">Submit</button>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </section>

{% endblock %}