{% extends '_base.html' %}

{% block content %}
    {% include '_title.html' %}
    <div class="container">

        <div class="column is-three-fifths">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">Mot de passe oublié</p>
                </header>
                <div class="card-content">
                    <form method="post" action="" enctype="multipart/form-data">
                        <div class="field">
                            <div class="control">
                                <input class="input" type="text" placeholder="Email associé à votre compte" name="email"
                                       required>
                            </div>
                        </div>
                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-link">Envoyer</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}