{% extends '_base.html' %}

{% block content %}
{% include '_title.html' %}
    <div class="container">

        <div class="card">
            <header class="card-header">
                <p class="card-header-title"> WORKSHOP </p>
                <a href="#" class="card-header-icon">
                    <span class="icon">
                        <i class="fa fa-angle-down"></i>
                    </span>
                </a>
            </header>
            <div class="card-content">
                <div class="content">
                    <p>
                        Something wonderful will happen!<br>
                        Something wonderful...
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, assumenda, consectetur cupiditate dignissimos fuga id illo incidunt ipsam laboriosam maxime nisi odio perferendis quisquam saepe sapiente sit tempore, vero voluptatibus.
                    <a href="#">#wonderful</a>.
                    <a href="#">#amazing</a>
                    <a href="#">#unknown</a>
                    <br>
                    <time datetime="2018-1-27">11:09 PM - 27 Jan 2018</time>
                </div>
            </div>
            <footer class="card-footer">
                <a href="#" class="card-footer-item">More...</a>
            </footer>
        </div>
    </div>
{% endblock %}