{% extends '_base.html' %}

{% block content %}
    <div class="container">
        <h3>Welcome to Nurse Quest!</h3>

        <h4>Latest news</h4>
        <p>Something wonderful will happen!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, assumenda, consectetur cupiditate dignissimos fuga id illo incidunt ipsam laboriosam maxime nisi odio perferendis quisquam saepe sapiente sit tempore, vero voluptatibus.</p>
        <p>Something wonderful...</p>
    </div>
{% endblock %}