{% extends '_base.html' %}

{% block content %}
    {% include '_title.html' %}
    <section class="section" xmlns="http://www.w3.org/1999/html">
        <div class="container">
            {% include '_searchbar.html' %}
            <div class="control">
                <div class="field is-grouped is-grouped-right">
                    <div class="control">
                        <a class="button is-dark is-focused" href="{{ url_for('get_create_project') }}">Ajouter un nouveau projet</a>
                    </div>
                </div>
            </div>
            <br>
            {% if data.items | count > 0 %}
                {% for project in data.items %}
                    <div class="box">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <a href="{{ url_for('get_projects', id=project.id) }}"><strong>{{ project.title }}</strong></a>
                                        {#  <small >- Initiateur : <a  href="mailto:{{ idea.user.email }} ?subject=Workshop EPSI - Idée {{ idea.title }}" >{{ idea.user.full_name }}</a></small>#}
                                        <br>
                                        <br>
                                        {{ project.description }}
                                    </p>
                                </div>
                            </div>
                            <div class="media-right" align="center">

                            </div>
                        </article>
                    </div>
                {% endfor %}
                {% include '_pagination.html' %}
            {% else %}
                <p>Aucune projet n'a encore été créé !</p>
            {% endif %}
        </div>
    </section>
{% endblock %}